* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* font-family: var(--font-roboto); */
  background-color: #212426;
}

.app {
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  object-fit: fill;
  /* background-size: fill; */
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3274&q=80");
}

.shade {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(215, 215, 215);
  letter-spacing: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input {
  height: 64px;
  text-align: center;
  border-radius: 300px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.239);
  color: white;
  width: 100%;
  max-width: 600px;
  font-size: 240px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.391);
}

input::placeholder {
  font-size: 32px;
}

input[type="text"] {
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="text"]:focus {
  border: 5px solid wheat;
}

.container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weather-info {
  width: 100%;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 24px;
  padding: 28px;
  /* flex-wrap: wrap; */
}

.temp {
  font-size: 40vw;
  font-weight: bolder;
  color: wheat;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.celsius {
  padding-top: 32px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.temperature-details {
  display: flex;
  padding-bottom: 24px;
}

.other-details {
  height: 120px;
  width: fit-content;
  background-color: rgba(67, 67, 67, 0.348);
  border-radius: 24px;
  border: 2px solid rgba(245, 222, 179, 0.515);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.other-details-value {
  padding-bottom: 12px;
  font-size: 28px;
  font-weight: bolder;
  color: white;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.other-details-label {
  font-size: 16px;
  font-weight: bolder;
  color: wheat;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.other-details-row {
  display: flex;
  gap: 24px;
  /* flex-wrap: wrap; */
}

.hint-text {
  font-size: 12px;
  font-weight: bold;
  padding-top: 16px;
  color: rgba(209, 182, 133, 0.704);
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Clouds {
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3274&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Thunderstorm {
  background-image: url("https://images.unsplash.com/photo-1500674425229-f692875b0ab7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Rain {
  background-image: url("https://images.unsplash.com/photo-1530933760-343e767695cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Snow {
  background-image: url("https://images.unsplash.com/photo-1505322491781-b5b70b3f370c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Atmosphere {
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Clear {
  background-image: url("https://images.unsplash.com/photo-1617142020713-52989920e411?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Drizzle {
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/63/582/desktop-wallpaper-weather-drizzling-drizzle-drizzle.jpg");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Default {
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3274&q=80");
  background-position: top;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
