* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* font-family: var(--font-roboto); */
  background-color: #212426;
}

.app {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3274&q=80");
  background-position: top;
  height: 100vh;
  background-size: cover;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(215, 215, 215);
  letter-spacing: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input {
  height: 64px;
  text-align: center;
  border-radius: 300px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.239);
  color: white;
  width: 100%;
  max-width: 600px;
  font-size: 240px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.288);
  opacity: 1;
}

input::placeholder {
  font-size: 32px;
}

input[type="text"] {
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="text"]:focus {
  border: 5px solid wheat;
}

.container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weather-info {
  width: 100%;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.temp {
  font-size: 224px;
  font-weight: bolder;
  color: wheat;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.celsius {
  padding-top: 32px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.temperature-details {
  display: flex;
  padding-bottom: 24px;
}

.other-details {
  height: 120px;
  width: fit-content;
  background-color: rgba(251, 246, 235, 0.244);
  border-radius: 24px;
  border: 2px solid rgba(245, 222, 179, 0.515);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.other-details-value {
  padding-bottom: 12px;
  font-size: 32px;
  font-weight: bolder;
  color: white;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.other-details-label {
  font-size: 16px;
  font-weight: bolder;
  color: wheat;
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.other-details-row {
  display: flex;
  gap: 24px;
}

.hit-text {
  font-size: 12px;
  font-weight: bold;
  padding-top: 16px;
  color: rgba(245, 222, 179, 0.587);
  line-height: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  top: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
